<link rel="stylesheet" href="../assets/webuploader/webuploader.css"/>
<section id="uploader" class="demo">
    <h1 class="title">
        <span>上传控件</span>
        <span class="sub">Uploader</span>
    </h1>
    <div class="body">
        <div class="panel">
            <div class="panel-body">
                <form class="form-horizontal">

                    <div class="form-group">
                        <label class="col-sm-2 control-label">图片上传：</label>
                        <div class="col-sm-10">
                            <div class="upload-wrapper">
                                <div class="clearfix com">
                                    <div class="col-sm-2 text-right ">
                                        <div class="upload-label">
                                            <p>商品详情图</p>
                                            <div class="text-danger">
                                                400 * 400px
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">

                                        <span class="btn-add icon icon-add"></span>
                                        <ul class="list nav nav-pills nav-stacked">
                                            <li>
                                                <div class="bar">
                                                    <i class="icon icon-delete"></i>
                                                    <i class="icon icon-aup"></i>
                                                    <i class="icon icon-adown"></i>
                                                </div>
                                                <img class="image" src="" alt="">
                                            </li>
                                            <li>
                                                <img class="image" src="" alt="">
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="placeholder" style="height: 110px;"></div>
                                    </div>
                                </div>


                                <div class="clearfix com">
                                    <div class="col-sm-2 text-right">
                                        <div style="margin-top: 30px">
                                            <p>商品详情图</p>
                                            <div class="text-danger">
                                                400 * 400px
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="placeholder" style="width: 110px; height: 110px; margin-bottom: 10px;"></div>
                                        <div class="placeholder" style="width: 110px; height: 110px; margin-bottom: 10px;"></div>
                                        <div class="placeholder" style="width: 110px; height: 110px;"></div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="placeholder" style="height: 110px;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">图片上传：</label>
                        <div class="col-sm-7">
                            <div class="upload-wrapper">
                                <div class="clearfix com">
                                    <div class="col-sm-4">
                                        <div class="placeholder" style="width: 110px; height: 110px; margin-bottom: 10px;"></div>
                                        <div class="placeholder" style="width: 110px; height: 110px; margin-bottom: 10px;"></div>
                                        <div class="placeholder" style="width: 110px; height: 110px;"></div>
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="placeholder" style="height: 110px;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">图片上传：</label>
                        <div class="col-sm-7">
                            <div id="uploadButton"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">图片上传：</label>
                        <div class="col-sm-7">
                            <div id="uploader-demo">
                                <!--用来存放item-->
                                <div id="fileList" class="uploader-list"></div>
                                <div id="filePicker">选择图片</div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</section>

<script type="text/x-handlebars-template">
    <div id="upload-modal" v-if="show">
        <div class="layer">
        </div>
        <div class="uploadManager">
            <div class="panel">
                <div class="panel-heading">
                <span class="title">
                    {{selected ? selected : \'所有文件\'}}
                </span>
                    <div class="input-group search">
                        <input type="text" v-model="q" class="form-control">
                    <span class="input-group-btn">
                        <button class="btn" @click="searchImagesByQ()" type="button">
                            搜索
                        </button>
                    </span>
                    </div>
                    <button type="button" class="close" @click="close()" data-dismiss="modal"
                            aria-label="Close">
                    <span aria-hidden="true">
                        ×
                    </span>
                    </button>
                </div>
                <div class="panel-body wrap">
                    <div class="clearix">
                        <ul class="groups pull-left">
                            <li class="item all" :class="!selected && \'active\'" @click="selectGroup(\'all\')">
                                所有
                            </li>
                            <li @click="selectGroup($index)" class="item" :class="v.selected && \'active\'"
                                v-for="v in group">
                            <span class="name">
                                {{v.groupName}}
                            </span>
                            </li>
                        </ul>
                        <div class="pull-left main">
                            <ul id="dz-list" class="list clearfix">
                                <li class="item">
                                    <a class="control-add" href="javascript:;">
                                        <i class="icon icon-add">
                                        </i>
                                    </a>
                                </li>
                                <li id="previewsContainer">
                                </li>
                                <li v-for="image in model" class="item" :class="image.selected && \'selected\'">
                                    <img @click="selectedImage($index)" :src="image.thumbnailUrl" alt="">
                                <span class="ratio">
                                    {{image.width}} * {{image.height}}
                                </span>
                                    <div class="name tof">
                                    <span>
                                        {{image.pictureName}}
                                    </span>
                                    </div>
                                </li>
                            </ul>
                            <div v-el:pagination class="clearfix wrap-p">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer text-center">
                    <button @click="selectDone()" class="btn btn-primary">
                        确定
                    </button>
                </div>
            </div>
        </div>
    </div>
</script>
<script type="text/x-handlebars-template">
    <div>
        <span class="btn-add icon icon-add" @click="upManager()"></span>
        <ul class="list nav nav-pills nav-stacked">
            <li v-for="image in images">
                <div class="bar">
                    <i class="icon icon-delete" @click="deleteImage(image)"></i>
                    <i class="icon icon-aup" @click="sortImage($index - 1)"></i>
                    <i class="icon icon-adown" @click="sortImage($index + 1)"></i>
                </div>
                <img class="image" src="image.compressFilePath" alt="">
            </li>
        </ul>
        <upload-manager></upload-manager>
    </div>
</script>

<script type="text/x-handlebars-template">
    <div class="uploadM">
        <div class="model">
            <span v-for="image in images" class="pull-left item"><img :src="image.compressFilePath" alt=""><i @click="deleteImage(image)" class="fa fa-times-circle text-danger"></i></span>
        </div>
        <a class="control-upload-btn" @click="upManager()" href="javascript:;"><i class="icon icon-add"></i></a><upload-manager></upload-manager>
    </div>
</script>
<!--<script src="./assets/webuploader/webuploader.min.js"></script>-->
<script src="./assets/webuploader/webuploader.flashonly.min.js"></script>
<script>
    window.Upload = this.Upload = new Upload({
        el: '#uploadButton',
        data: {
            limit: 1,
            replace: true,
            images: []
        }
    })

    // 图片上传demo
    jQuery(function() {
        var $ = jQuery,
                $list = $('#fileList'),
        // 优化retina, 在retina下这个值是2
                ratio = window.devicePixelRatio || 1,

        // 缩略图大小
                thumbnailWidth = 100 * ratio,
                thumbnailHeight = 100 * ratio,

        // Web Uploader实例
                uploader;

        var BASE_URL = './'
        // 初始化Web Uploader
        uploader = WebUploader.create({

            // 自动上传。
            auto: true,

            // swf文件路径
            swf: BASE_URL + 'assets/webuploader/Uploader.swf',

            // 文件接收服务端。
            server: 'http://webuploader.duapp.com/server/fileupload.php',

            // 选择文件的按钮。可选。
            // 内部根据当前运行是创建，可能是input元素，也可能是flash.
            pick: '#filePicker',

            // 只允许选择文件，可选。
            accept: {
                title: 'Images',
                extensions: 'gif,jpg,jpeg,bmp,png',
                mimeTypes: 'image/*'
            }
        });

        // 当有文件添加进来的时候
        uploader.on( 'fileQueued', function( file ) {
            var $li = $(
                            '<div id="' + file.id + '" class="file-item thumbnail">' +
                            '<img>' +
                            '<div class="info">' + file.name + '</div>' +
                            '</div>'
                    ),
                    $img = $li.find('img');

            $list.append( $li );

            // 创建缩略图
            uploader.makeThumb( file, function( error, src ) {
                if ( error ) {
                    $img.replaceWith('<span>不能预览</span>');
                    return;
                }

                $img.attr( 'src', src );
            }, thumbnailWidth, thumbnailHeight );
        });

        // 文件上传过程中创建进度条实时显示。
        uploader.on( 'uploadProgress', function( file, percentage ) {
            var $li = $( '#'+file.id ),
                    $percent = $li.find('.progress span');

            // 避免重复创建
            if ( !$percent.length ) {
                $percent = $('<p class="progress"><span></span></p>')
                        .appendTo( $li )
                        .find('span');
            }

            $percent.css( 'width', percentage * 100 + '%' );
        });

        // 文件上传成功，给item添加成功class, 用样式标记上传成功。
        uploader.on( 'uploadSuccess', function( file ) {
            $( '#'+file.id ).addClass('upload-state-done');
        });

        // 文件上传失败，现实上传出错。
        uploader.on( 'uploadError', function( file ) {
            var $li = $( '#'+file.id ),
                    $error = $li.find('div.error');

            // 避免重复创建mvn
            if ( !$error.length ) {
                $error = $('<div class="error"></div>').appendTo( $li );
            }

            $error.text('上传失败');
        });

        // 完成上传完了，成功或者失败，先删除进度条。
        uploader.on( 'uploadComplete', function( file ) {
            $( '#'+file.id ).find('.progress').remove();
        });
    });
</script>