<div><a class="btn btn-link" @click="addRow()"><i class="icon icon-add"></i>增加参数</a>
    <div><label class="lbl">常用参数：</label><label class="checkbox-inline" v-for="v in commonList">
        <input type="checkbox" name="optionsCheckbox" :value="v.name" v-model="commonly">{{v.name}}</label>
    </div>
    <table class="table table-bordered table-hover" style="margin-top: 10px;">
        <thead>
        <tr>
            <th class="text-center" width="220">参数名</th>
            <th class="text-center" width="220">参数值</th>
            <th class="text-center" width="160">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="item in model" v-if="item.isDelete !== 'y">
            <td class="text-center vm"><input type="text" class="form-control" v-model="item.propName"></td>
            <td class="text-center vm"><input type="text" class="form-control" v-model="item.propValue"></td>
            <td class="text-center vm"><a class="btn btn-link text-danger" @click="deleteRow($index)"
                                          href="javascript:;">删除</a></td>
        </tr>
        </tbody>
    </table>
</div>