//
// Buttons
// --------------------------------------------------

// Mixin for generating new styles
@mixin btn-styles($btn-color: #555) {
  background-color: darken($btn-color, 10%);
  border-color: darken($btn-color, 14%);

  &:hover,
  &:focus {
    background-color: darken($btn-color, 15%);
    border-color: darken($btn-color, 25%);
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active {
      background-color: darken($btn-color, 10%);
      border-color: darken($btn-color, 14%);
    }
  }

  &.btn-hole {
    background: #fff;
    color: $gray;
  }
  &.btn-hole:hover,
  &.btn-hole:focus  {
    background-color: darken($btn-color, 12%);
    color: #fff;
  }
}

// Common styles
.btn {
  line-height: 1.3; // 保持普通按钮 高度为32和form-control一致
  box-shadow: none;
  @include btn-styles($btn-default-bg);
  background: #fff;
  border-color: #ccc;

  &.btn-hole,
  &.btn-hole:hover,
  &.btn-hole:focus  {
    color: $gray;
  }
  &,
  &:active,
  &.active {
    &:focus,
    &.focus {
      outline: none;
    }
  }
}
.btn-link{ border: 0;  margin: 1px 0; background: none; }
.btn-link:first-child{ padding-left: 0; }
.btn-link:last-child{ padding-right: 0; }
.btn-link:hover { background: transparent; }
.btn i { margin-right: 6px; }

// Common styles
.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger {
  text-shadow: 0 -1px 0 rgba(0,0,0,.2);
  $shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 1px rgba(0,0,0,.075);
  @include box-shadow($shadow);

  // Reset the shadow
  &:active,
  &.active {
    @include box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    @include box-shadow(none);
  }

  .badge {
    text-shadow: none;
  }
}

.btn-primary { @include btn-styles($btn-primary-bg); }
.btn-success { @include btn-styles($btn-success-bg); }
.btn-info    { @include btn-styles($btn-info-bg); }
.btn-warning { @include btn-styles($btn-warning-bg); }
.btn-danger  { @include btn-styles($btn-danger-bg); }

.btn-lg, .btn-group-lg > .btn{ border-radius: 2px; }