.card-A { background: #f53; color: #fff; }
.card-B { background: #fb3; color: #fff; }
.card-C { background: #3d99ef; color: #fff; }
.card-D { background: #c2c2c2; color: #fff; }
.card-E { background: #009e3d; color: #fff; }