.form-horizontal{
  margin: 5px -15px 5px 0;
  .control-label{ width: 120px; font-weight: 400; padding-left: 0; padding-right: 0; }
  .offset{ margin-left: 120px; }
  .has-feedback .input-group .form-control-feedback{ right: 0; }
}
.form .control-label,
.form-horizontal .control-label{ width: 120px; font-weight: 400; padding-left: 0; padding-right: 0; }
.form {
  .form-group {
    @include make-row;
  }
  .control-label{
    text-align: right;
    margin-bottom: 0;
    padding-top: ($padding-base-vertical + 1); // Default padding plus a border
  }
}
.form-sm {
  .control-label{ width: 80px; }
}


.form-control{ border-radius: 1px; box-shadow: none; }
.control-label i{ margin-right: 4px; }
.form-control:focus{ box-shadow: none; }
.help-block { margin-bottom: 0; }
.help-block i{ margin-right: 4px; }

.input-group .form-control:focus + .form-control-feedback{ z-index: 4; }

.input-range .input-group-addon{ border-left: 0; border-right: 0; }

.input-1,
.input-2,
.input-3,
.input-4,
.input-5,
.input-6 { display: inline-block; }
.input-1{ width: 57px; }
.input-2{ width: 135px; }
.input-3{ width: 213px; }
.input-4{ width: 290px; }
.input-5{ width: 368px; }
.input-6{ width: 446px; }
.lbl{ padding-top: 7px; display: inline-block; vertical-align: middle; font-weight: 400; margin: 0; }

.form-actions{ margin-top: 30px; }
.form-actions .btn{ margin: 0 10px; }

.caret-up { border-bottom: 4px dashed; border-top: 0; }

.btn-group .btn{ line-height: 1.2; }