.status{
  border-bottom: 2px solid #ccc;
  height: 31px;
  font-size: 0;
}
.status .item{ padding: 5px 20px;border-bottom: 2px solid  transparent;font-weight: 400;font-size: 14px; color: #333; }
.status .item:hover{ color: $brand-primary; text-decoration: none; }
.status .active{
  border-color: red;
  margin: 0;
}
.status .diver{
  color: #999;
  margin: 10px -1px;
  border-left: 1px solid #ccc;
  height: 10px;
  width: 1px;
  display: inline-block;
  vertical-align: top;
}