.table{ margin-bottom: 0; }
.table > thead > tr > th{ background: #f1f2f6; font-weight: 400; border-bottom: 0; }
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
  border-bottom: 1px solid $table-border-color
}
.table-default > thead > tr > th,
.table-default > thead > tr > td,
.table-default > tbody > tr > th,
.table-default > tbody > tr > td,
.table-default > tfoot > tr > th,
.table-default > tfoot > tr > td{ border-color: $table-border-color; padding: 10px; }
.table-hover > tbody > tr:hover{ background: $color-white-hover-bg; }
.table .checkbox-inlnie{ line-height: 1; }
.table label{ margin-bottom: 0; }
.table p { margin-bottom: 4px; }
.table .bottom-des { position: absolute; width: 100%; bottom: 0; background: #333; opacity: .8; color: #fff; text-align: center; padding: 2px; font-size: 12px; }
.table-handler-wrapper{ font-size: 0; }
.table-handler-wrapper .handler{ display: inline-block; margin: 0 5px; font-size: 14px; }
.table-complex-wrapper .table{ margin-bottom: 0; }
.table-complex { overflow: hidden; }
.table-complex .table > thead > tr > th{ background: $color-active-bg; }
.table-complex:hover{ border-color: darken($table-border-color, 15%); }
.table-complex .inner{ margin: -1px; }
.table-complex .table{ margin: 0; }
.no-border-lr{ border-left: 0 !important; border-right: 0 !important; }

.col-1{ width: 60px; }
.col-2{ width: 90px; }
.col-3{ width: 120px; }
.col-4{ width: 150px; }
.col-5{ width: 180px; }
.col-6{ width: 210px; }
.col-7{ width: 240px; }

.table-bordered {
  border: 1px solid $table-border-color;
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        border: 1px solid $table-border-color;
      }
    }
  }
}