/*<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">*/
/* latin */
@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    src: local('Quicksand Regular'), local('Quicksand-Regular'), url(./fonts/Quicksand%20Regular.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

html,body { height: 100%; font-family: "Microsoft YaHei", sans-serif; }
.container{ background: transparent; }
.logo{ font-family: 'Josefin Sans', sans-serif;font-family: 'Quicksand', sans-serif; }
.sidebar {
    position: fixed; background: #fff; left: 0; top: 0; width: 240px; height: 100%; }
.sidebar .logo {
    font-size: 30px;
    border-bottom: 1px solid #EBEBEB;

    padding: 15px 20px 20px;
    line-height: 1;
    color: #666;
}

.sidebar li a{
    padding: 10px 20px;
    display: block;
    border-bottom: 1px solid #EBEBEB;
}
.outer { width: 1160px; margin: auto; }
.cont {
    float: left; width: 100%;
    padding-left: 240px; padding-bottom: 120px; background: #fafafa; }

.fs{ font-family: SimSun; }
.sub { font-size: 12px; color: #999; }
.mask { position: absolute; left: 0; top: 0; width: 100%; height: 100%;  background: #333; opacity: .3; height: 200px; }
.font-lg { font-size: 16px; }
td[rowspan] { background: #fff!important; }

.top-bar {padding: 20px;}
.top-bar .left,
.top-bar .right {
    height: 65px;
}
.top-bar .left { border-right: 1px solid #fff; padding: 0 40px; text-align: right; }
.top-bar .logo { font-size: 24px; }
.top-bar .right { padding: 0 40px; }
.top-bar .sub { color: #fff; }
.top-bar .media-left { padding-right: 0; }
.top-bar .media-body .title { font-size: 24px; font-family: "Microsoft JhengHei Light" }

.quotation { margin-top: 20px; margin-left: -15px; margin-right: -15px; background: #FFFBE0; padding: 20px; }

.demo { margin-top: 40px; margin-left: -15px; margin-right: -15px; }
.demo .body > p { margin: 0 0 20px; }
.demo > .title { padding-top: 48px; margin: 0 0 30px; font-weight: normal; font-size: 30px; font-family: "Microsoft YaHei", sans-serif; }
.demo > .sub-title { font-size: 16px; margin: 0 0 30px; font-family: SimSun; }
.demo .title .sub { text-transform: capitalize; }
.demo .wrap { }
.demo .wrap + .wrap { margin-top: 80px; }
.demo .table { width: 100%; }
.demo .table tr.nobb td { border-bottom: 0; }

.table,
#color .table,
#font .table{ background: #fff; }
#color .color--block { height: 40px; padding: 10px; text-align: center; line-height: 20px; }

#modal .wrap-modal { width: 100%; position: relative; padding: 40px; min-height: 200px; }
#modal .mask { height: 200px; }
#modal .row-flex:first-child { margin-top: 0; }
#modal .row-flex{ margin-top: 80px; }
#modal .modal-dialog{ margin: 0 auto; }

.phone{ width: 322px; min-height: 570px; border:1px solid #efefef; background: url(./phone.png) top center no-repeat; padding-top: 64px; }
.cell{ min-height: 44px; }

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    } }
.icon-loading:before { transition: all .3s ease;
    animation: rotate 1s 0s linear infinite; display: block; }

.zeroclipboard-is-hover{ outline: 1px dashed #00a0e9; }
