@import "../config";
.crumb{ padding: 0; list-style: none outside none; @include clearfix() }
.crumb .item{ position: relative; float: left; margin-right: 20px; }
.crumb .item:before { position:absolute; left: -12px; content:'/'; font-weight: 700; color: $gray-light; }
.crumb .item:first-child:before{ display:none; }
.crumb .item a{ }
.crumb .active{ }
.crumb .active a{ color: $success; }