@import "../config";
.panel{ background: #fff; }
.panel .title{ padding: $padding; border-bottom: 1px solid $gray-lighter; }
.panel .body{ padding: $padding; }
.panel .footer{ padding: $padding; border-top: 1px solid $gray-lighter; }