@import "../config";
.search{ border: 1px solid $gray-light; background: #fff; overflow: visible; }
.search .media-left{ padding: 0; }
.search .media-body{ position: relative; }
.search .media-body .icon{ position: absolute; right: 10px; top: 9px; color: $gray; }
.search .media-body input{ border: 0; }
.search .media-right{ padding:0; }
.search .wrapper-options{ position: relative; width: 80px; }
.search .options{ position: absolute; margin: 0; background: $gray-lighter; cursor: pointer; width: 80px; }
.search .options .item{ display: none; padding: 9px 10px; }
.search .options .active{ display: block; }

.search .options:hover .item{ display: block; }
.search .options .item a{ }
.search .options .wrapper-icon{ position: absolute; top: 9px; right: 10px; }
.search .options .icon{ color: $gray; font-size: 14px; }
.search .options:hover .wrapper-icon{ transform:rotate(180deg); }