@import "../config";

.table{ border-collapse: collapse; background: #fff; }
.table th{ padding: $size-small $size; color: $gray-dark; background: $gray-light; text-align: left; }
.table tr:hover td{ background: $yellow-lighter; }
.table td{ padding: $size-small $size; border-bottom: 1px solid $gray-light;  }
.table .bt td{ border-top: 1px solid $gray-light; }
.table-striped tr:nth-child(odd) td{ background: $gray-lighter; }

.table-border th{ border:1px solid $gray-light; }
.table-border td{ border:1px solid $gray-light; }
.table-noborder td{ border: 0; }